name: Update Activity Log

on:
  schedule:
    - cron: "0 */6 * * *"  # 每6小時自動執行
  workflow_dispatch:       # 允許手動執行
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate activity log
        uses: Readme-Workflows/recent-activity@vmain
        with:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
          COMMIT_MSG: "chore: update activity log"
