name: Update Activity Log

on:
  schedule:
    - cron: '0 */6 * * *'  # 每6小時自動執行
  workflow_dispatch:        # 可手動執行

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Update README with recent GitHub activity
        uses: JamesIves/github-activity-readme@v0.4.1
        with:
          COMMIT_MSG: "Update activity log"
          GH_TOKEN: ${{ secrets.REPO_TOKEN }}
          MAX_LINES: 10
